.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 250px;
  width: 250px;
  justify-items: center;
  align-items: center;
}

.board-btn {
  height: 50px;
  width: 50px;
}
