body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

.name-form-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.name-form-section h3 {
  align-self: center;
  justify-self: center;
}

.name-form-section form {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 10px;
}

.name-form-section form label {
  align-self: center;
  font-size: 1.2rem;
}

.name-input {
  font-size: 1.2rem;
}

.name-submit-btn {
  grid-column: 1 / 3;
  padding: 10px 0;
  font-size: 1rem;
}

.game-section {
  display: grid;
  grid-template-rows: auto 40vh;
}

.game-section h2 {
  text-align: center;
}

.board-container {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  width: 300px;
  justify-items: center;
  align-items: center;
}

.board-btn {
  height: 90px;
  width: 90px;
  font-size: 4rem;
  font-weight: 700;
}

.restart-btn {
  width: 150px;
  justify-self: center;
  padding: 5px 0;
}

.hidden {
  display: none;
}
